<div class="container-menu">
    <ul class="flex-menu">
        <li class="flex-item-menu">
            <a>
                <i class="bi bi-house-door-fill menu-icon"> </i>
                <span>Menu</span>
            </a>

        </li>
        <li class="flex-item-menu">
            <a>
                <i class="bi bi-house-door-fill menu-icon"> </i>
                <span>Menu</span>
            </a>

        </li>
        <li class="flex-item-menu">
            <a>
                <i class="bi bi-house-door-fill menu-icon"> </i>
                <span>Menu</span>
            </a>

        </li>
        <li class="flex-item-menu">
            <a>
                <i class="bi bi-house-door-fill menu-icon"> </i>
                <span>Menu</span>
            </a>

        </li>
        <li class="flex-item-menu">
            <a>
                <i class="bi bi-house-door-fill menu-icon"> </i>
                <span>Menu</span>
            </a>

        </li>
    </ul>
</div>