<nav class="container-menu" [ngClass]="{'menu-opened':menu.isExpansive}">
    <ul class="flex-menu">
        <li *ngFor="let item of listaMenu" class="flex-item-menu">
            <a routerLink="{{item.rota}}" (click)='itemMenuActive = true'>
                <!-- <a routerLink="{{item.rota}}" (click)='itemMenuActive = true'> -->
                <i class="{{item.icone}} menu-icon" routerLinkActive="active-item-menu"> </i>
                <span class="flex-item-menu-text" routerLinkActive="active-item-menu">{{item.descricao}}</span>
                <!-- <i class="{{item.icone}} menu-icon" [ngClass]="{'active-item-menu': itemMenuActive}"> </i>
                <span class="flex-item-menu-text" [ngClass]="{'active-item-menu': itemMenuActive}">{{item.descricao}}</span> -->
            </a>
        </li>
    </ul>
</nav>