<div class="header-navBar">
    <div class="flex-container-navBar">
        <div class="flex-item">
            <!-- <button class="btn btn-menu-icon-navBar border">
                <i class="bi bi-list menu-icon-navBar"></i>
            </button> -->
            <i class="bi bi-list menu-icon-navBar" (click)="nomeUsuario = 'Elisia'"></i>
            <span style="color: #FFFFFF;">{{nomeUsuario}}</span>
        </div>
        <div class="flex-item end">
            <img [src]="imageUserIconPath" class="foto-bar-header" />
            <img [src]="imageExitIconPath" class="foto-bar-header" />
        </div>


    </div>
</div>