<div class="row">
    <div class="col-6">
        <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"  [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
        </div>
    </div>
    <div class="col-6">
        <div style="display: block">
            <canvas baseChart [datasets]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"  [legend]="pieChartLegend" [chartType]="pieChartType">
        </canvas>
        </div>
    </div>
</div>